doctype html
html
  head
    title="My App"
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="/")
    link(rel="stylesheet" href="css/main.css")
  body(ng-app="Dawn")
    #index-application-bar(ng-controller="ApplicationBarController")
        {{name}}
    #index-container(ui-view)
    script(src="js/core.js")
